.app-background {
  background-image: url('./Component/image/hospital.jpg'); /* put your image in src folder */
  background-size: cover;
  background-position: center;
  height: 100vh; /* full screen height */
  width: 100%;
}